<% if @user.referent? %>
  <h1><%= @user.brand %></h1>
  <p>About their: <%= @user.description %></p>

 <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
  <h2>My products</h2>
  <% @user.products.each do |product| %>
    Name: <%= product.name %> <br>
    Price: <%= product.price %>, Color: <%= product.color %> <br>
    Description: <%= product.description %> <br>
    Category: <%= product.category %>
    <hr>
  <% end %>

<% elsif @user == current_user %>
  <h1>I am a Fashion Lover</h1>
    <ol>
      <li><%= current_user.email %>, <%= current_user.first_name %> <%= current_user.last_name %></li>
    </ol>

    <p>My orders</p>
    <% @user.orders.each do |order| %>
      Product: <%= order.product.name %> <br>
      Status: <%= "Open" if order.status %> <br>
      Payment: <%= order.payment %> | <%= order.delivery %> <br>
    <hr>
  <% end %>

<% else %>
  <p>Oh oh!</p>
<% end %>
