<% brands = [
  "https://images.unsplash.com/photo-1510897345173-4d938815feb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1633409361618-c73427e4e206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1525268771113-32d9e9021a97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1528840942-6d0562674ad6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1522125123931-9304d91a42ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=582&q=80",
  "https://images.unsplash.com/photo-1630750793287-fd38912df4d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=548&q=80",
  "https://images.unsplash.com/photo-1552985247-03b1fddb53d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=622&q=80"
]

products = [
  "https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1594631770635-f2915410b410?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1617178388553-a9d022974a5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1601460588655-109bd38204db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
  "https://images.unsplash.com/photo-1630396592061-21f071e1a36c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80",
  "https://images.unsplash.com/photo-1591047139829-d91aecb6caea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80",
  "https://images.unsplash.com/photo-1620799140408-edc6dcb6d633?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80",
  "https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
]
%>

<% if @user.referent? %>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="pt-5 font-t"><%= @user.brand %></h1>
      </div>
      <div class="col-6 mt-3">
        <%= image_tag brands.sample%>
        <%# <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="col-6 my-auto text-start">
        <h2 class="border-bottom mb-3 font-t">About <%= @user.brand %>: </h2>
        <p class="font-p"><%= @user.description %></p>
      </div>
    </div>
  </div>

  <h2 class="text-center mb-3 font-t">All my products</h2>
  <div class="bg-page my-5 py-3">
    <div class="container">
      <div class="row mt-2 gy-2">
      <% @user.products.each do |product| %>
        <div class="col-6 col-md-3 my-4">
          <%= render 'shared/card_product', product: product %>
        </div>
      <% end %>
    </div>
  </div>
  </div>

  <div class = "container" class="col-md-6">
      <% if fashion_lover? && can_review?(@user) %>
      <%= link_to "New Review", new_user_review_path(@user), class: "btn btn-lg btn-info"%>
      <% end %>
      <p class="card-text"> <h5>All Reviews:</h5> <% @user.reviews.each do |review| %>
      <p class="card-text"><% review.rating.times do %> <i class="fa-solid fa-star"></i><% end %></p>
      <p class="list-group-item"><%= review.content %></p>

      <% if fashion_lover? && can_review?(@user) %>
      <small><p><%= link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-sm btn-info"
      %></p></small></p>
      </p>
      <% end %>
    <% end %>
  </div>

<% elsif @user.fashion_lover? %>

<div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="border-bottom"><%= current_user.first_name %> <%= current_user.last_name %></h1>
      </div>
      <div class="col-6 mt-3">
        <%= image_tag brands.sample%>
      </div>
      <div class="col-6 my-auto text-start">
        <h2 class="border-bottom mb-3">Your email: </h2>
        <p><%= current_user.email %></p>
      </div>
    </div>
    <h2 class="text-center mb-3">My orders</h2>
  <div class="row mt-2 gy-2">
  <% @user.orders.each do |order| %>
    <%= render 'shared/card_order', order: order %>
  <% end %>
  </div>

  </div>

<% else %>
  <p class="text-center text-danger font-t">Oh oh! You cannot see this user profile!</p>
<% end %>
