<nav class="navbar bg-light sticky-top mb-3">
  <div class="container">
    <%= link_to "Referent", home_path, class: "navbar-brand fw-bold" %>


    <div class="d-flex justify-content-end align-items-center">
      <% if fashion_lover? %>
        <%= link_to "Become a Referent", new_referent_path, class: "text-decoration-none text-dark p-1 px-3 rounded-pill border" %>
      <% end %>

      <%= link_to "Search", search_path, class: "text-decoration-none text-dark mx-3 text-uppercase" %>

      <button class="navbar-toggler border-0 p-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class=""><i class="bi bi-person-circle text-dark fs-3"></i></span>
      </button>
    </div>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header py-3 px-3">
      <% if user_signed_in? %>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><%= current_user.name %></h5>
      <% else %>
        <h5 class="offcanvas-title fs-6" id="offcanvasNavbarLabel">Welcome to Referent</h5>
      <% end %>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body py-1 px-3">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <% if user_signed_in? %>
            <%= link_to "My profile", user_path(current_user), class: "nav-link active text-decoration-none" %>


            <% if current_user.referent? %>
              <%= link_to "New product", new_product_path, class: "nav-link text-decoration-none" %>
            <% end %>
            <%= link_to "Settings", edit_user_registration_path(current_user), class: "nav-link text-decoration-none" %>

            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link text-decoration-none" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link active text-decoration-none" %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-decoration-none" %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
