<nav class="navbar navbar-expand-lg">
  <div class="container">
    <%= link_to "REFERENT", home_path, class: "navbar-brand fs-2 fw-bold" %>

    <div class="">
      <%= simple_form_for :root, method: :get, html: { class: 'd-flex m-0' } do |f| %>
        <%= f.input :filter, wrapper_html: { id: 'sin-margin' }, as: :select, collection: [["Products", "products"], ["Referents", "referents"]], selected: "products", label: false %>
        <%= f.input :query, wrapper_html: { id: 'sin-margin' }, value: params[:query], label: false %>
        <div class="m-0">
          <%= f.submit "Search", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>

    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <i class="bi bi-list"></i>
          <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <% if user_signed_in? %>
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>

              <%= link_to "Details", user_details_path(current_user) , class: "dropdown-item" %>

              <% if current_user.referent? %>
                <%= link_to "New product", new_product_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
            </div>
            <% end %>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
