<h1> Edit Order </h1>
  <%= simple_form_for [@product, @order] do |f| %>
    <%= f.input :delivery, collection: ["At seller's address", "receive at the buyer's address", "pick up at shipping office"], prompt: "Choose delivery" %>
    <%= f.input :payment, collection: ["Cash", "Credit Card", "PSE"], prompt: "Choose" %>
    <%= f.submit %>
    <% if @order.user.role %>
    <%= f.input :status %>
    <% end %>
  <% end %>
