 <hr>
  <div class="card-order">
    <span> <i class="fa-solid fa-cart-shopping"></i>    1 order will be edited</span>
  </div>

  <div class="card-order">
  <%= simple_form_for [@product, @order] do |f| %>
    <%= f.input :delivery, collection: ["At seller's address", "receive at the buyer's address", "pick up at shipping office"], prompt: "Choose delivery" %>
    <%= f.input :payment, collection: ["Cash", "Credit Card", "PSE"], prompt: "Choose" %>
    <%= f.submit %>
    <% if @order.user.role %>
    <%= f.input :status %>
    <% end %>
  <% end %>

    <img width="400" src="https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />

</div>
