<h1> New Order </h1>
  <%= simple_form_for [@product, @order] do |f| %>
    <%= f.input :delivery, collection: ["Home delivery", "Shipping to a delivery point"], prompt: "Choose delivery" %>
    <%= f.input :payment, collection: %w[cash debit credit], prompt: "Choose" %>
    <%= f.input :status %>
    <%= f.submit %>
  <% end %>
