<div class="container p-5 mt-5 bg-page rounded-4">
<div class="row">
  <div class="col sm-12 col-8">
    <div class="card-order">
      <h2 class="d-inline p-2">Order Details</h2>
        <% if @order.status %>
      <span class="badge bg-success"> <%= "ORDER OPEN" %> </span>
      <% else %>
      <span class="badge bg-danger"><%= "ORDER COMPLETED" %> </span>
      <% end %>

    </div>

    <div class="card-order">
      <p>
      <%  @order.payment %> <i class="fa-regular fa-credit-card"></i> Your Payment Method:
      <strong><%= @order.payment %></strong></p>
    </div>

    <div class="card-order">
      <p> <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false %>
      Your Referent:  <strong><%= @order.product.brand %></strong></p>
    </div>

    <div class="card-order">
      <p> <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false %>
      Shopper:  <strong><%= @order.user.first_name%> <%= @order.user.last_name%></strong></p>
    </div>

    <div class="card-order">
      <%= link_to "Add review", user_path(@order.product.user) , class: "text-light btn btn-dark m-1" %>
    </div>


  <hr>

  <div class="card-product-o">
    <% if @order.product.photo.present? %>
      <%= cl_image_tag @order.product.photo.key %>
    <% else %>
    <%= image_tag "https://previews.123rf.com/images/urfandadashov/urfandadashov1805/urfandadashov180500070/100957966-photo-not-available-icon-isolated-on-white-background-vector-illustration.jpg", height: 400, width: 400 %>
    <% end %>

    <div class="card-product-infos-o">
      <h3> <%= @order.product.name %>  </h3>
      <h2> <%= @order.product.description %>  </h2>
      <p><strong>     $ <%= price = @order.product.price %> </p></strong>
    </div>
  </div>

    <hr>

    <% if referent_user? %>
      <%= link_to "Back", user_path(current_user), class:"btn btn-dark" %>
    <% else %>
      <%= link_to "Back to buy", products_path, class:"btn btn-dark" %>
    <% end %>

  </div>

  <div class="col-4">
    <% if referent_product?(@order.product) %>
      <% unless @order.status %>
      <button type='button' class="btn btn-info col-12 mb-3 rounded-pill" disabled> CLOSED ORDER</button>
      <% else %>
        <form action="<%=@order.id%>/mark" method="POST">
          <input type='hidden' name='_method' value='PATCH'/>
          <button type='submit' class="btn btn-info col-12 mb-3 rounded-pill">Mark order as dispatched</button>
        </form>
      <% end %>
    <% end %>

    <div class="card-order justify-content-center text-center">
      <div>
        <h3> Created at</h3>
        <p><%= @order.created_at.strftime('%A, %d de %B de %Y') %></p>
      </div>
    </div>


    <div class="card-order justify-content-center text-center">
      <div>
        <h3> Purchase detail </h3>
        <hr>
        <p> <%= @order.product.name %> $ <%= @order.product.price %> </p>
      </div>
    </div>

    <div class="card-order justify-content-center text-center">
      <div>
        <h3> Delivery detail </h3>
        <hr>
        <p> <%= @order.delivery %>  </p>
      </div>
    </div>

</div>
 <!-- <a class="btn btn-gradient" <%= link_to "Edit Order", edit_order_path %></a> -->
</div>
