<div class="row">
<div class="col-6">
  <h2><%= link_to "Referents", referents_path %></h2>
  <ol>
  <% @referents.each do |referent| %>
    <li class="fw-bold"><%= link_to referent.brand, user_path(referent) %></li>
    <p><%= referent.description %></p>
  <% end %>
  </ol>
</div>
<div class="border-start col-6">
  <h2><%= link_to "Products", products_path %></h2>
  <ol>
  <% @products.each do |product| %>
    <li class="fw-bold"><%= link_to product.name, product_path(product) %></li>
    <p><%= product.description %>
      <br>
      $<%= product.price %>
    </p>
  <% end %>
  </ol>
</div>
</div>

<%# @objects.each do |object| %>
  <%# object %>
<%# end %>
