<%= form_with url: search_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for products, brands..."
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% unless @results.nil? %>
  <div class="row">
    <h2 class="bg-info">Results</h2>
    <% @results.each do |result| %>
      <%= result.searchable.name %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <h2 class="bg-info">Products</h2>
  <% @products.each do |product| %>
    <%= product.name %>
  <% end %>
</div>


<div class="row">
  <h2 class="bg-info">Referents</h2>
  <% @referents.each do |referent| %>
    <%= referent.brand %>
  <% end %>
</div>
