  
    <hr>
     <%= simple_form_for(@product) do |f| %>
        <%= f.input :name, input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
        <%= f.input :description, input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
        <%= f.input :price, input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
        <%= f.input :size, collection:  Product.sizes.keys, prompt: "Choose Size", error: 'Please select one option',
                    input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
        <%= f.input :color, collection:  Product.colors.keys, prompt: "Choose Color", error: 'Please select one option',
                    input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
        <%= f.input :category, collection:  Product.categories.keys, prompt: "Choose Category", error: 'Please select one option',
                    input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
        <%= f.input :genre, collection:  Product.genres.keys,prompt: "Choose Color", error: 'Please select one option',
                    input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
        <%= f.input :photo, as: :file, input_html: {class:"border-0 bg-ligth rounded-pill"} %>
        <%= f.submit input_html: {class:"btn btn-dark col-12"} %>
      <% end %>
    </div>
</div>
