<div class="container mx-auto my-auto">
 <style>
   .pr{
   font-size: 0.7em;
   letter-spacing: 1.2px;
   color: $color-secondary;
 }

 </style>
 <div class="container d-flex">
    <section class="product">
     <div class="product__photo">
       <div class="photo-container">
         <div class="photo-main">
           <div class="controls">
             <i class="fa-solid fa-share-nodes"></i>
             <%= link_to user_path do %>
        <i class="fa-solid fa-star"></i>
      <% end %>

           </div>

          <% if @product.photo.attached? %>
          <%= cl_image_tag @product.photo.key, class:"rounded-start" %>
          <% else %>
          <h1>articulo sin foto</h1>
          <%= image_tag "https://previews.123rf.com/images/urfandadashov/urfandadashov1805/urfandadashov180500070/100957966-photo-not-available-icon-isolated-on-white-background-vector-illustration.jpg" %>
          <% end %>

         </div>
         <!-- <div class="photo-album">

         </div> -->
       </div>
     </div>
     <div class="product__info">
       <div class="title">
         <h1><%= @product.name.upcase %></h1>
         <span class="text-success"> <%= @product.brand.upcase%> <i class="fa-solid fa-star"></i> </span>
       </div>
       <div class="price">
         $ <span><%= @product.price %></span>
       </div>
       <div >
         <h3 class="pr">SIZE</h3>
         <ul>
           <%= @product.size.capitalize %>
         </ul>
       </div>
       <div class="description">
         <h3 class="pr">BENEFITS</h3>
         <ul>
          <p>Color: <%= @product.color %> </p>
          <p>Category: <%= @product.category %> </p>
          <p>Genre: <%= @product.genre %> </p>
         </ul>
       </div>

       <%= link_to "Home", home_path, class: "btn btn-success" %>
    <!-- Button trigger modal -->
    <% if referent_product?(@product) %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
      Edit Product
    </button>
    <%=  link_to "Delete", product_path(@product),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <% end %>
    <!-- Modal -->
    <%= render 'products/modal_product' %>

      <% unless referent_user? %>
       <%= link_to "Lo quiero!", new_product_order_path(@product), class: "btn btn-info col-6" %>
      <% end %>
     </div>
   </section>
   </div>
</div>
